<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  {% assets "route_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
  {% endassets %} </head>

<body>
  <div class="py-5 text-center " style="background-image: url('static/banner.jpg');">
    <div class="container py-5 transparent">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-dark text-capitalize">Buses are the backbone&nbsp;
            <br>of our neighborhoods.&nbsp;</h1>
          <p class="lead text-left">Jersey City residents depend on buses to get to work, school, and the homes of friends and loved ones.</p>

            <p class="lead text-left">That's why the Riverview Neighborhood Association is leading the way in informing residents, businesses, and public officials in The Heights about the opportunities and challenges in local bus service. On this website you can learn about current bus service and take action.</p>
          <a href="#" class="btn btn-lg mx-1 btn-secondary">Check Out the Route Report Cards</a>
          <a href="#" class="btn btn-lg btn-primary mx-1">Sign the Petition for Better Bus Service</a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h3 class="text-center">86</h3>
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-2">
          <h3 class="text-center">86P</h3>
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-2">
          <h3 class="text-center">87</h3>
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-2">
          <h3 class="text-center">119</h3>
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p class=""><a href="https://www.njtransit.com/pdf/bus/T0119.pdf">Schedule (PDF).</a></p>
        </div>
        <div class="col-md-2">
          <h3 class="text-center">123</h3>
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="col-md-2">
          <h3 class="text-center">TBD</h3>
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>