{% extends 'route-base.html' %}

{% block summary %}
<p class="lead">{{routereport.description_long}}</p>

           <!-- <p class=""><a class="ml-3 btn navbar-btn btn-secondary" href="https://goo.gl/forms/VF5S1Oclk9QTdZha2">Sign the petition for better bus service</a></p> -->

{% endblock %}


{% block grade %}

        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">Coming Soon: Route Grades</h4>
            <p class="mb-0">Soon we'll be adding grades that help you evaluate how well each bus route is doing in terms of service reliability.</p>
        </div>

<!--
    {% if (routereport.grade=='A' or routereport.grade=='B') %}
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">Current Grade:{{routereport.grade}}</h4>
            <p class="mb-0"> {{routereport.grade_description}}</p>
        </div>
    {% endif %}
    {% if routereport.grade=='C' %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Current Grade:{{routereport.grade}}</h4>
            <p class="mb-0"> {{routereport.grade_description}}</p>
        </div>
    {% endif %}
    {% if (routereport.grade=='D' or routereport.grade=='F') %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Current Grade:{{routereport.grade}}</h4>
            <p class="mb-0"> {{routereport.grade_description}}</p>
        </div>
    {% endif %}
-->
{% endblock %}


{% block map %}
<img class="img-fluid d-block" src="/static/images/map{{routereport.route}}.jpg" >

<div class="btn-group">
            <a href="{{routereport.schedule_url}}" class="btn btn-outline-primary">Official Schedule (PDF)</a>
            <a href="{{routereport.moovit_url}}" class="btn btn-outline-secondary">Moovit's {{routereport.route}} Page</a>
</div>

{% endblock %}


{% block service_stops_block %}
          <h1 class="">Choose Direction...</h1>
          <p class="lead">Pick the direction of travel and specific service for route {{routereport.route}} to see more detailed performance information. (Note: Many routes have more than one service and services not currently running won't display a list of stops.)</p>

<div class="btn-group">
    <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Choose direction/service...</button>
    <div class="dropdown-menu">
    {% for path in routereport.route_stop_list %}
            <a class="dropdown-item" href = {{url_for('genRouteReport_ServiceStoplist',source=routereport.source,route=routereport.route,service=path.id)}} id="{{path.id}}">To {{path.d}}</a>
    {% endfor %}
    </div>
</div>

<!--
<div class="btn-group">
    <p>NEW BUTTON</p>
    <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Choose direction/service...</button>
    <div class="dropdown-menu">
    {% for service in routereport.servicelist %}
            <a class="dropdown-item" href = {{url_for('genRouteReport_ServiceStoplist',source=routereport.source,route=routereport.route,service=service.service_id)}} id="{{service.service_id}}">To {{service.destination}}</a>
    {% endfor %}
    </div>
</div>
-->

{% endblock %}


{% block bunching_report %}

          <h1 class="">Bunching Bottlenecks</h1>
          <p class="lead">What are the trouble spots slowing service on the {{routereport.route}}? Here's the stops on the {{routereport.route}} with the most bunching incidents today. Click on a stop name to see today's arrivals.</p>

        <ul class="list-group" >
                {% for stop in routereport.bunching_leaderboard %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href = {{url_for('genStopReport',source=routereport.source,route=routereport.route,stop=stop[2])}}>{{stop[0]}}</a>
                      <span class="badge badge-primary badge-pill">{{stop[1]}}</span>
                    </li>
                {% endfor %}
        </ul>

{% endblock %}


{% block reliability_report %}
<!-- FUTURE reliability report v1 -- coming soon, histogram of travel time based on differential arrival time of same bus id at 1st, last and middlest stop # of std deviations -->

{% endblock %}

