{% extends 'route-base.html' %}


{% block grade %}
          <div class="alert alert-primary" role="alert">

            <h4 class="alert-heading">Current Grade:
                {{routereport.grade}} <!-- FUTURE box color change based on grade -->
            </h4>
            <p class="mb-0"> {{routereport.grade_description}}</p>
          </div>
{% endblock %}


{% block summary %}
            <p class="">
            <b>
              <u>Route Summary</u>. </b>
                {{routereport.description_long}}
            <p class=""><a class="ml-3 btn navbar-btn btn-secondary" href="#">Sign the petition for better bus service</a></p>
            </div>
{% endblock %}


{% block map %}
<!-- todo NOW2 map - use this model https://github.com/charliedotau/mapbox-gl-js-bootstrap-boilerplate -->
<div class="col-md-8">
<!-- todo NOW2 map - use this model https://github.com/charliedotau/mapbox-gl-js-bootstrap-boilerplate -->
TK The routemap on route pages will live here and show the route, plus current location of buses when the page was generated. On stop pages, its will show the stop area plus a marker for the stop.
</div>
{% endblock %}


{% block service_stops_block %}
          <h1 class="">Stops</h1>
          <p class="lead">To see more detailed info about service on the {{routereport.route}} in your area, scroll down in the list below to the direction of travel you want and click on your stop .</p>
              {% for path in routereport.route_stop_list %}
                    {% if path.id == service %}
                      <div>
                          <a href="#" class="btn btn-outline-primary">To {{path.d}}</a>
                      </div>
                        <div>
                        <table class="table table-sm">
                            {% for stop in path.stops %}
                                <tr>
                                    <td><a href = {{url_for('genStopReport',source=routereport.source,route=routereport.route,stop=stop.identity) }}>{{stop.st}}</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                        </div>
                      {% endif %}
              {% endfor %}
{% endblock %}


{% block bunching_report %}
<!-- #todo NOW3 bunching report v1 see written notes -->
          <h1 class="">Bunching</h1>
          <p class="lead">Bunching is when buses arrive too close to each other.</p>
          <p class="">Eventually we'll create a histogram or something here for each route/service.</p>
{% endblock %}


{% block reliability_report %}
<!-- FUTURE reliability report v1 -- coming soon, histogram of travel time based on differential arrival time of same bus id at 1st, last and middlest stop # of std deviations -->
          <h1 class="">Third Column</h1>
          <p class="lead">Subheader goes here.</p>
          <p class="">Eventually we'll create a histogram or something here for each route/service.</p>
{% endblock %}

