{% extends 'route-base.html' %}


{% block grade %}
          <div class="alert alert-primary" role="alert">

            <h4 class="alert-heading">Current Grade:
                {{routereport.grade}} <!-- FUTURE box color change based on grade -->
            </h4>
            <p class="mb-0"> {{routereport.grade_description}}</p>
          </div>
{% endblock %}


{% block summary %}
            <p class="">
            <b>
              <u>Route Summary</u>. </b>
                {{routereport.description_long}}
            <p class=""><a class="ml-3 btn navbar-btn btn-secondary" href="https://goo.gl/forms/VF5S1Oclk9QTdZha2">Sign the petition for better bus service</a></p>
            </div>
{% endblock %}


{% block map %}
<div class="col-md-8">
<div id="map"></div>
</div>

<!-- local code to load and style the map -->
  <script src="/static/mapbox-js/mapbox-route.js"></script>
{% endblock %}


{% block service_stops_block %}
          <h1 class="">Stops</h1>
          <p class="lead">To see more detailed info about service on the {{routereport.route}} in your area, scroll down in the list below to the direction of travel you want and click on your stop .</p>
              {% for path in routereport.route_stop_list %}
                    {% if path.id == service %}
                      <div>
                          <a href="#" class="btn btn-outline-primary">To {{path.d}}</a>
                      </div>
                        <div>
                        <table class="table table-sm">
                            {% for stop in path.stops %}
                                <tr>
                                    <td><a href = {{url_for('genStopReport',source=routereport.source,route=routereport.route,stop=stop.identity) }}>{{stop.st}}</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                        </div>
                      {% endif %}
              {% endfor %}
{% endblock %}


{% block bunching_report %}
<!-- #todo NOW3 bunching report show frequency count of stops with most bunching indcidents in last week
 n.b. this will require running a StopReport for every stop on the line per page load. so maybe do it once, cache it, and expire it after an hour? so {if bunchingreport.cache exists load it: else generate a new one}-->
          <h1 class="">Bunching</h1>
          <p class="lead">Bunching is when buses arrive too close to each other.</p>
          <p class="">Eventually we'll create a histogram or something here for each route/service.</p>
{% endblock %}


{% block reliability_report %}
<!-- FUTURE reliability report v1 -- coming soon, histogram of travel time based on differential arrival time of same bus id at 1st, last and middlest stop # of std deviations -->
          <h1 class="">Third Column</h1>
          <p class="lead">Subheader goes here.</p>
          <p class="">Eventually we'll create a histogram or something here for each route/service.</p>
{% endblock %}

