{% extends 'route-base.html' %}

{% block grade %}
{{routereport.grade}}
{% endblock %}

{% block summary %}
The route summary needs to be fetched from a database - which will have to be come kind of CMS. Or perhaps just a flat text file or maybe a Google doc that can be easily scraped.
{% endblock %}

{% block map %}

<img class="d-block img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDW8nO9JhT_pEjebobq9pgUF2cEp0EUb1I&amp;markers=New+York+City&amp;center=New+York+City&amp;zoom=12&amp;size=640x480&amp;sensor=false"> </div>
{% endblock %}

{% block stoplist %}

          <table class="table table-sm">
              test
                {% for path in routereport.route_stop_list %}
                <a href="#" class="btn btn-outline-primary">To -need to add destination to the instance data structure for each path</a>
                  {% for stop in path %}
                    <tr>test
                        <!-- <td><a href = {{url_for('genStopReport',source=routereport.source,route=routereport.route,stop=stop.identity) }}>{{stop.st}}</a></td>
                    </tr>-->
                  {% endfor %}
                {% endfor %}
          </table>



{% endblock %}

{% block bunching_report %}
<!-- #todo bunching report v1 see written notes -->
<p>Eventually we'll create a histogram or something here.</p>
{% endblock %}

{% block reliability_report %}
<p>Eventually we'll create a histogram or something here.</p>
{% endblock %}

