<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar3SupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-center" id="navbar3SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Riverview Neighborhood Association</a>
          </li>
        </ul>
        <a class="ml-3 btn navbar-btn btn-primary" href="#">Sign the petition for better bus service</a>
      </div>
    </div>
  </nav>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-1">Bus Report Card</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1 class="">119</h1>
          <p class="lead">Bayonne - Journal Square - New York</p>
          <p class="">The 119 is Hudson County's most vital connection into New York city, but serves double duty as a north-south internal route. As such, it does both poorly.
            <br>
            <br>Trouble points include here and there. Service could be improved by doing this and that.</p>
          <div class="alert alert-primary" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4 class="alert-heading">Current Grade:
              <b>B-</b>
            </h4>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
          </div>
        </div>
        <div class="col-md-8">
          <img class="d-block img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDW8nO9JhT_pEjebobq9pgUF2cEp0EUb1I&amp;markers=New+York+City&amp;center=New+York+City&amp;zoom=12&amp;size=640x480&amp;sensor=false"> </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1 class="">Recent Arrivals</h1>
          <a href="#" class="btn btn-outline-primary">Congress St &amp; Webster Ave (30189)</a>
          <table class="table">
            <thead>
              <tr>
                <th>time</th>
                <th>bus #</th>
                <th>time since last bus</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>8:32 am</td>
                <td>3829</td>
                <td>18 min</td>
              </tr>
              <tr>
                <td>8:14</td>
                <td>3239</td>
                <td>15 min</td>
              </tr>
              <tr>
                <td>7:59</td>
                <td>2993</td>
                <td> 8 min
                  <ul class="nav nav-pills flex-column">
                    <li class="nav-item"> </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>7:51</td>
                <td>4324</td>
                <td>7 min</td>
              </tr>
              <tr>
                <td>7:44</td>
                <td>6324</td>
                <td>2 min</td>
              </tr>
              <tr>
                <td>7:42</td>
                <td>4324</td>
                <td>4 min</td>
              </tr>
              <tr>
                <td>7:40</td>
                <td>2342</td>
                <td>9 min</td>
              </tr>
              <tr>
                <td>7:31</td>
                <td>6673</td>
                <td>
                  <u>more &gt;&gt;</u>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <h1 class="">Stops</h1>
          <div class="btn-group btn-group-sm">
            <a href="#" class="btn btn-outline-primary">to Bayonne</a>
            <a href="#" class="btn btn-outline-primary">to New York</a>
          </div>
          <table class="table">
            <thead>
              <tr></tr>
            </thead>
            <tbody>
              <tr>
                <td>Journal Square Transportation Center</td>
              </tr>
              <tr>
                <td>JFK Blvd + 36th St</td>
              </tr>
              <tr>
                <td>JFK Blvd + 36th St</td>
              </tr>
              <tr>
                <td>JFK Blvd + 36th St</td>
              </tr>
              <tr>
                <td>JFK Blvd + 36th St</td>
              </tr>
              <tr>
                <td>JFK Blvd + 36th St</td>
              </tr>
              <tr>
                <td>JFK Blvd + 36th St</td>
              </tr>
              <tr>
                <td>JFK Blvd + 36th St</td>
              </tr>
              <tr>
                <td>JFK Blvd + 36th St</td>
              </tr>
              <tr>
                <td>JFK Blvd + 36th St</td>
              </tr>
              <tr>
                <td>Congress St &amp; Webster Ave</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <h1 class="">Service Metrics</h1>
          <p class="lead">Bunching.</p>
          <p class="">Bunching is when buses arrive too close to each other, meaning lots of buses are too crowded, and others are empty. Nullam tristique velit volutpat, laoreet ipsum quis, ultricies dui. Nunc mattis est nec leo sodales, et vestibulum lorem sodales
            lorem sodales.&nbsp;
            <br>
            <br>The 119 is currently experiencing a
            <b style="font-weight: bold;">moderate</b> leve
            <b>l&nbsp;of bunching. The trouble spots are listed below.</b>
          </p>
          <table class="table">
            <thead>
              <tr>
                <th>start</th>
                <th>end</th>
                <th>period</th>
                <th>incidents/week</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Webster Ave &amp; Congress St&nbsp;</td>
                <td>Webster Ave &amp; Palisade Ave</td>
                <td>evening rush</td>
                <td>21</td>
              </tr>
              <tr>
                <td>Webster Ave &amp; Congress St&nbsp;</td>
                <td>Webster Ave &amp; Palisade Ave</td>
                <td>morning rush</td>
                <td>14</td>
              </tr>
              <tr>
                <td>JFK Blvd &amp; 36th St</td>
                <td>JFK Blvd &amp; 38th St</td>
                <td>morning rush</td>
                <td>3</td>
              </tr>
            </tbody>
          </table>
          <p class="lead">Reliability.</p>
          <p class="">Realiabilty answers the question "can I depend on the bus to get me there on time?" and measures the consistency of scheduled travel times over longer period of times. Nullam tristique velit volutpat, laoreet ipsum quis, ultricies dui. Nunc
            mattis est nec leo sodales, et vestibulum lorem sodales lorem sodales.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="p-4 col-md-6">
          <h2 class="mb-4 text-secondary">About RNA</h2>
          <p class="text-white">A company for whatever you may need, from website prototyping to publishing</p>
        </div>
        <div class="p-4 col-md-6">
          <h2 class="mb-4">Contact</h2>
          <p>
            <a href="mailto:info@pingendo.com" class="text-white">
              <i class="fa d-inline mr-3 text-secondary fa-envelope-o"></i>info@pingendo.com</a>
          </p>
          <p>
            <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank">
              <i class="fa d-inline mr-3 fa-map-marker text-secondary"></i>w</a>ww.riverviewassociation.org</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">© Copyright 2018 Bits and Atoms LLC - MIT License (pending). </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>