{% extends 'stop-base.html' %}

{% block grade %}
          <div class="alert alert-primary" role="alert">

            <h4 class="alert-heading">Current Grade:
                {{routereport.grade}} <!-- FUTURE box color change based on grade -->
            </h4>
            <p class="mb-0"> {{routereport.grade_description}}</p>
          </div>
{% endblock %}


{% block summary %}
{{routereport.description_long}}
{% endblock %}

{% block map %}
<!-- todo NOW2 map - use this model https://github.com/charliedotau/mapbox-gl-js-bootstrap-boilerplate -->
TK The routemap on route pages will live here and show the route, plus current location of buses when the page was generated. On stop pages, its will show the stop area plus a marker for the stop.

{% endblock %}

{% block arrivals %}

          <a href="#" class="btn btn-outline-primary">{{arrivals.arrivals_list_final_df['stop_name'].iloc[0]}}</a>
          <table class="table table-sm">
            <thead>
              <tr>
                <th>time</th>
                <th>bus #</th>
                <th>last arrival</th>
              </tr>
            </thead>
            <tbody>

            {% for (index,row) in arrivals.arrivals_list_final_df.iterrows() %}
                {% if row.delta <= '3:00' %}
                    <tr class='warning'>
                        <td>{{row.timestamp|strftime_today}}</td>
                        <td>{{row.v}}</td>
                        <td>{{row.delta}}</td> min ago
                    </tr>
                {% else %}
                    <tr>
                        <td>{{row.timestamp|strftime_today}}</td>
                        <td>{{row.v}}</td>
                        <td>{{row.delta}}</td>
                    </tr>
                {% endif %}
            {% endfor %}

            </tbody>
          </table>

{% endblock %}

{% block report_middle %}


{% endblock %}
