{% extends 'stop-base.html' %}


{% block summary %}
Something something somthing summary.
{% endblock %}

{% block map %}
<p>This should just be a map of the stop area.</p>

{% endblock %}

{% block arrivals %}

          <a href="#" class="btn btn-outline-primary">{{arrivals.arrivals_list_final_df['stop_name'].iloc[0]}}</a>
          <table class="table table-sm">
            <thead>
              <tr>
                <th>time</th>
                <th>bus #</th>
                <th>time since last</th>
              </tr>
            </thead>
            <tbody>

            {% for (index,row) in arrivals.arrivals_list_final_df.iterrows() %}
                <tr>
                    <td>{{row.timestamp|strftime_today}}</td>
                    <td>{{row.v}}</td>
                    <td>{{row.delta}}</td>
                </tr>
            {% endfor %}

            </tbody>
          </table>

{% endblock %}

{% block report_middle %}


{% endblock %}
