{% extends 'stop-base.html' %}

<!-- #todo breadcrumb nav elements -->
{% block arrivals %}
          <table class="table">
            <thead>
              <tr>
                <th>time</th>
                <th>bus #</th>
                <th>interval</th>
              </tr>
            </thead>
            <tbody>
            {% for (index,row) in stopreport.arrivals_list_final_df.iterrows() %}
                {% if (row.delta > stopreport.bigbang) and (row.delta <= stopreport.bunching_interval) %} <!-- #todo this stopped working? row.delta is different now after filter applied? -->
                    <tr class='table-danger'> <!-- #todo NOW1 the red line is on the wrong line, so i think the shift may need to be shift(1) instead -->
                        <td>{{row.timestamp|strftime_today}}</td>
                        <td>{{row.v}}</td>
                        <td>{{row.delta|strftime_timedelta}}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td>{{row.timestamp|strftime_today}}</td>
                        <td>{{row.v}}</td>
                        <td>{{row.delta|strftime_timedelta}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
          </table>
{% endblock %}

{% block stopreport_right %}
			<p class="lead">We do our best to keep a complete list of arrivals but there may be gaps or errors in these records. This is provided for informational purposes only.</p>
            <p class="">Morbi ac mi eu enim tempus aliquam nec et mi. Etiam in odio quis nunc aliquet ultricies. Nullam tristique velit volutpat, laoreet ipsum quis, ultricies dui. Nunc mattis est nec leo sodales, et vestibulum lorem sodales lorem sodales. Morbi ac mi eu enim tempus aliquam nec et mi. Etiam in odio quis nunc aliquet ultricies. Nullam tristique velit volutpat, laoreet ipsum quis, ultricies dui. Nunc mattis est nec leo sodales, et vestibulum lorem sodales lorem sodales.</p>
{% endblock %}
