{#  todo 0 write content for about page #}

{%- extends "static_page.jinja2" %}

{% block page_title %}
About NJBusWatcher.com
{% endblock %}

{% block page_subtitle %}
Better Data Support Better Advocacy for Better Buses
{% endblock %}

{% block section1_title %}
Why We Created This Site
{% endblock %}

{% block section1_title2 %}
Why We Created This Site
{% endblock %}

{% block section1_column1 %}
NJBusWatcher began in the summer of 2018 as a civic data project in collaboration with the Riverview Neighborhood Association in The Heights section of Jersey City. While schedules and real-time arrivals provided at NJTransit.com and third-party apps provide riders with an in-the-moment view of what's going on with a particular route, there was no way to get a big picture view of how service on different routes performed over time.
{% endblock %}

{% block section1_column2 %}
Inspired by Transit Center's 2017 Bus Turnaround initiative in New York City, we developed this platform to collect, analyze, and share data on the entire NJTransit bus system. We're starting out with a basic set of measurements -- when buses are arriving, how frequently they arrive, and whether adequate spacing is being maintained to ensure good service. These can be viewed by the day, week, month, or year. In the coming months, we'll continue to add new metrics that provide deeper insights into how well the system is doing.
{% endblock %}

{% block section1_column3 %}
<img src="/static/images/njtbussnow.jpg">
{% endblock %}

{% block section2_title %}
How You Can Help
{% endblock %}

{% block section2_title2 %}
How You Can Help
{% endblock %}

{% block section2_column1 %}
NJTransit buses transport more than 150 million passengers every year--nearly two-thirds more than the 90 million riders carried by the agency's railroads. Yet urban bus riders often take a back seat to suburban rail commuters when budget time rolls around. This site can help you mobilize people in your community to lobby for better service.

{% endblock %}

{% block section2_column2 %}
    <img src="/static/images/njtbussnow.jpg">

{% endblock %}

{% block section2_column3 %}
You can do this and you can do that. You can do this and you can do that. You can do this and you can do that. You can do this and you can do that. You can do this and you can do that. You can do this and you can do that. You can do this and you can do that. You can do this and you can do that. You can do this and you can do that. You can do this and you can do that.
{% endblock %}