{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{% block title %}
<title>JC Bus Report Card (Route {{routereport.routename}})</title>
{% endblock %}

{% assets "route_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
{% endassets %}

{% block content %}
    <div class="py-2 bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb" style="margin-bottom:0px;margin-top:0px">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active">{{routereport.routename}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="py-2 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">{{routereport.routename}}</h1>
        </div>
      </div>
    </div>
  </div>


  <div class="py-3">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          {% block map %}
          {% endblock %}
        </div>

        <div class="col-md-4">
          {% block summary %}
          {% endblock %}
        </div>

        <div class="col-md-4">
          {% block grade %}
          {% endblock %}

        </div>



      </div>
    </div>
  </div>

    <div class="py-5 bg-light">
    <div class="container">
      <div class="row">


        <div class="col-md-4">


          {% block service_stops_block %}
          {% endblock %}

        </div>

        <div class="col-md-8">
          {% block bunching_report %}
          {% endblock %}
        </div>


      </div>
    </div>
  </div>



  <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">Data released under <a href="https://cdla.io/sharing-1-0/">Community Data License Agreement – Sharing, Version 1.0</a>, but may be subject to restrictions based on <a href="http://mybusnow.njtransit.com/bustime/home.jsp">origin</a>.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}