{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{% block title %}
<title>JC Bus Report Card (Route {{routereport.routename}})</title>
{% endblock %}

{% assets "route_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
{% endassets %}

