{%- extends "static_page.jinja2" %}

{% block errorblock %}

<!--Section: Jumbotron-->
    <section class="card wow fadeIn" style="background-image: url({{ url_for('static', filename='images/404chair.jpg')}});">




        <!-- Content -->
        <div class="card-body text-white text-center py-5 px-5 my-5">

            <h1 class="mb-4">
                <strong>Oops!</strong>
            </h1>
            <p>
                <strong>We're having trouble talking to NJTransit's servers right now.</strong>
            </p>

            <p>
                <strong>Please try again later.</strong>
            </p>



        </div>
        <!-- Content -->
    </section>
    <!--Section: Jumbotron-->
{%  endblock %}

{% block page_title %}
We didn't find what you were looking for.
{% endblock %}

{% block page_subtitle %}
It could be you mistyped, or all hell could be breaking loose on the internet.
{% endblock %}
