{%- extends "static_page.jinja2" %}

{% block page_title %}
About NJBusWatcher.com
{% endblock %}

{% block page_subtitle %}
Better Data Support Better Advocacy for Better Buses
{% endblock %}

{% block section1_title %}
About NJBusWatcher
{% endblock %}

{% block section1_title2 %}
About NJBusWatcher
{% endblock %}

{% block section1_column1 %}

    <p class="text-left">NJTransit buses transport more than 150 million passengers every year--nearly two-thirds more than the 90 million riders carried by the agency's railroads. Yet urban bus riders often take a back seat to suburban rail commuters when budget time rolls around. While schedules and real-time arrivals provided at NJTransit.com and third-party apps provide riders with an in-the-moment view of what's going on with a particular route, there is no way to get a big picture view of how service on different routes performed over time.</p>

{% endblock %}


{% block section1_column2 %}

    <p class="text-left"> Now, we're taking this idea statewide, tracking all routes--365 days a year--and providing a wider range of data, grades, and summary statistics. We're starting out with a basic set of measurements -- when buses are arriving, how frequently they arrive, and whether adequate spacing is being maintained to ensure good service. These can be viewed by the day, week, month, or year.</p>
    <p class="card-text"> That's why we developed this platform to collect, analyze, and share data on the entire NJTransit bus system. NJBusWatcher began in the summer of 2018 as a civic data project. Version 1, launched in the spring of 2018, focused on The Heights section of Jersey City, a rapidly-growing neighborhood where commuter bus routes like the 119 are experiencing double-digital annual growth in ridership.</p>

{% endblock %}

{% block section1_column3 %}
    <p> You can use this site to get a bird's eye view of bus service in your community. Where do buses go and where are the gaps in service? How often do buses run and how reliable are their schedules? What trouble spots are the most disruptive and what can be done about them? Over time, we'll continue to add new metrics that provide deeper insights into how well the system is doing. Tell us what you think, and send us your suggestions via <a href="https://twitter.com/nj_watcher">Twitter:@njbuswatcher</a>.</p>
    <img src="/static/images/njtbussnow.jpg">

{% endblock %}

{#

{% block section2_title %}
How You Can Help
{% endblock %}

{% block section2_title2 %}
How You Can Help
{% endblock %}

{% block section2_column1 %}


{% endblock %}

{% block section2_column2 %}
    <img src="/static/images/njtbussnow.jpg">

{% endblock %}

{% block section2_column3 %}
     This site can help you mobilize people in your community to lobby for better service.

You can do this and you can do that. You can do this and you can do that. You can do this and you can do that. You can do this and you can do that. You can do this and you can do that. You can do this and you can do that. You can do this and you can do that. You can do this and you can do that. You can do this and you can do that. You can do this and you can do that.
{% endblock %}

#}
