{# ``base.html`` is the template all our other templates derive from. While
   Flask-Bootstrap ships with its own base, it is good form to create a custom
   one for our app, as it allows customizing some aspects.

   Deriving from bootstap/base.html gives us a basic page scaffoling.

   You can find additional information about template inheritance at

   http://jinja.pocoo.org/docs/templates/#template-inheritance
#}
{%- extends "bootstrap/base.html" %}


{% block scripts %}
{% endblock %}

{# We also set a default title, usually because we might forget to set one.
   In our sample app, we will most likely just opt not to change it #}
{% block title %}NJBusWatcher--www.njbuswatcher.com{% endblock %}

{# Then, inside the head block, we apply these. To not replace the header,
   ``super()`` is used: #}
{% block head %}

<script src="{{ url_for('static', filename='mdb/js/jquery-3.3.1.min.js')}}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- FOR MAPBOX GL ROUTE MAP -->
    <!-- Mapbox GL JS js and css -->
     <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
     <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" type="text/css" href="/static/maps/mapbox-gl-style.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




{{super()}}
{%- endblock %}



{# Adding our own CSS files is also done here. Check the documentation at
   http://pythonhosted.org/Flask-Bootstrap/basic-usage.html#available-blocks
   for an overview. #}
{% block styles -%}


{{super()}}
{# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}


{% endblock %}

{% block content %}



    {% block sticky_nav %}
    {% endblock %}


    {% block content_main %}
    {% endblock %}


    <!--Footer-->
    <footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">

        <!--Call to action-->
        <div class="pt-4">
            <a class="btn btn-outline-white" href="/about" target="_self" role="button">About/Advocacy
            <i class="fa fa-bus mr-2"></i>
            </a>
            <a class="btn btn-outline-white" href="/api" target="_self" role="button">API
                <i class="fas fa-download ml-2"></i>
            </a>

            <a class="btn btn-outline-white" href="https://github.com/code4jc/buswatcher" target="_self" role="button">Code
                <i class="fab fa-github mr-2"></i>
            </a>
        </div>

        <!--/.Call to action-->

        <hr class="my-4">


        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2018, 2019 Site concept and design by <a href="http://www.bitsandatoms.net" target="_blank">Bits and Atoms</a>. All data, both live and <a href="/static/images/jersey-city-bus-central-avenue-1948.jpg" target="_blank">historical</a>, is provided for informational purposes only.</div>

        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->


{% endblock %}