{#  todo tweak grid settings for small devices #}
{%- extends "base.jinja2" %}
{% import "bootstrap/utils.html" as utils %}

{% block head %}
    <style>
        #map { width:100%; }
    </style>
{{ super() }}
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        var collection_description = {{ collection_description | safe}}
    </script>

    <!-- fontawesome, bootstrap, mdb -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="{{ url_for('static', filename='mdb/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='mdb/css/mdb.min.css')}}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ url_for('static', filename='mdb/css/style.min.css')}}" rel="stylesheet">
    <!-- mapboxjs -->
    <script type="text/javascript" src="{{ url_for('static', filename='maps/busmap_collection.js')}}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>



{% endblock %}


{% block sticky_nav %}
<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-white">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav">
                <li class="breadcrumb-item active"><a href = {{ url_for('displayIndex') }}>home</a></li>
             </ul>

        </div>
    </div>
</nav>
{% endblock %}


{% block content_main %}

    <!--Main layout-->
    <main class="mt-2 pt-5 ">
        <div class="container">

            <!--ROW 1-->
                <!--BANNER START-->
                <div class="row mb-4 wow fadeIn">
                    <div class="col-lg-12 col-md-12 mb-4 ">
                        <h1 class="mb-4"><strong>{{ collection_description['city_name']}} has {{ collection_description.number_of_active_vehicles}} buses serving {{ collection_description.number_of_active_routes}} routes right now.</strong></h1>
                        <h4 class="mb-4 text-left">
                            <strong>{{ collection_description['description_short'] }}</strong>
                        </h4>
                        <p class="mb-4 text-left">
                            <strong>{{ collection_description['description_long'] }}</strong> (Grades reflect average performance over the last year, where data is available.)
                        </p>
                    </div>
                </div>
                <!--BANNER END-->

            <!--ROW 2-->
                <!--ROUTELIST START-->
                <div class="row mb-4 wow fadeIn">

                    <div class="col-lg-6 col-md-12 mb-4 ">
                        <div class="list-group">

                            {% for route in collection_description['routelist'] %}
                              <a href={{ url_for('genRouteReport',collection_url=collection_description['collection_url'],route=route, period='day') }} class="list-group-item list-group-item-action flex-column align-items-start">

                                <div class="d-flex w-100 justify-content-between">
                                  <h5 class="mb-1">{{route}}
                                      <strong>
                                            {% for route_2_match in route_descriptions.routedata %}
                                             {% if route==route_2_match.route %}
                                              {{route_2_match.prettyname |title}}
                                              {% endif %}
                                            {% endfor %}
                                      </strong>
                                  </h5>

                                 {% for route_2_match in route_descriptions.routedata %}
                                     {% if route==route_2_match.route %}

                                          {%  if grade_roster[route_2_match.route] is defined  %} {#  bug 2 these grades don't match the grades in the grade report #}
                                              {%  if grade_roster[route_2_match.route]=='A' or grade_roster[route_2_match.route]=='B' %}
                                                 <small class="text-success">Grade:{{grade_roster[route_2_match.route]}}</small>
                                              {% endif %}

                                             {%  if grade_roster[route_2_match.route]=='C' or grade_roster[route_2_match.route]=='D' %}
                                                 <small class="text-alert">Grade:{{grade_roster[route_2_match.route]}}</small>
                                             {% endif %}

                                             {%  if grade_roster[route_2_match.route]=='F' %}
                                                 <small class="text-danger">Grade:{{grade_roster[route_2_match.route]}}</small>
                                             {%  endif %}

                                              {%  if grade_roster[route_2_match.route]=='N/A' %}
                                                 <small class="text-danger">Grade:Pending</small>
                                             {%  endif %}
                                        {% endif %}
                                     {% endif %}
                                 {% endfor %}



                                </div>
                                <p class="mb-1"><small>
                                    {% for route_2_match in route_descriptions.routedata %}
                                        {% if route == route_2_match.route %}
                                            {{route_2_match.description_short}}
                                        {% endif %}{%  endfor %}
                                </small></p>

                              </a>
                            {% endfor %}

                        </div>
                    </div>
                <!--ROUTELIST END-->

                <!--MAP COLUMN-->
                <div class="col-lg-6 col-md-12 mb-4">
                    <div id="map" class="container">
                    </div>
                </div>


            </div> <!--ROW 2 END-->
        </div> <!--CONTAINER END-->
    </main> <!--MAIN END-->


{% endblock %}


