{%- extends "base.jinja2" %}


{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block head %}

    <style>
        #map { width:100%; }
    </style>



{{ super() }}
{% endblock %}

{% block scripts %}

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='mdb/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ url_for('static', filename='mdb/css/mdb.min.css')}}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ url_for('static', filename='mdb/css/style.min.css')}}" rel="stylesheet">


    <script type="text/javascript">
        var collection_description = {{ collection_description|safe }}

    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='maps/busmap_collection.js')}}"></script>

    <!-- zoom to extent stuff -->
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>


{% endblock %}


{% block sticky_nav %}

<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-white">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav">
                <li class="breadcrumb-item active"><a href = {{ url_for('displayIndex') }}>home</a></li>
             </ul>

        </div>
    </div>
</nav>


{% endblock %}


{% block content_main %}


    <!--Main layout-->
    <main class="mt-2 pt-5 ">
        <div class="container">


                <div class="row mb-4 wow fadeIn">
                    <!--Grid column-->
                    <div class="col-lg-12 col-md-12 mb-4 ">
                        <h1 class="mb-4"><strong>{{ collection_description['city_name']}} has {{ collection_description.number_of_active_vehicles}} buses serving {{ collection_description.number_of_active_routes}} routes right now.</strong></h1>
                        <h4 class="mb-4 text-left">
                            <strong>{{ collection_description['description_short'] }}</strong>
                        </h4>
                        <p class="mb-4 text-left">
                            <strong>{{ collection_description['description_long'] }}</strong>
                        </p>
                    </div>
                </div>


            <!--Routes Display-->
                <div class="row mb-4 wow fadeIn">

                    <div class="col-lg-6 col-md-12 mb-4 ">
                        <div class="list-group">

                            {% for route in collection_description['routelist'] %}
                              <a href={{ url_for('genRouteReport',collection_url=collection_description['collection_url'],route=route, period='day') }} class="list-group-item list-group-item-action flex-column align-items-start">

                                <div class="d-flex w-100 justify-content-between">
                                  <h5 class="mb-1">{{route}} {% for route_2_match in route_descriptions.routedata %}
                                                                 {% if route==route_2_match.route %}
                                                                  {{route_2_match.prettyname |title}}
                                                                  {%  endif %}
                                                                {%  endfor %}

                                  </h5>
                                  <small>3 days ago</small>
                                </div>
                                <p class="mb-1">

                                {% for route_2_match in route_descriptions.routedata %}
                                                                 {% if route==route_2_match.route %}
                                                                  {{route_2_match.description_short}}
                                                                  {%  endif %}
                                                                {%  endfor %}

                                </p>
                                <small>Donec id elit non mi porta.</small>
                              </a>
                            {% endfor %}

                        </div>
                    </div>





                    <!--
                    <div class="col-lg-6 col-md-12 mb-4 ">



                            {#  todo redo the styling on this table using "Custom Content" at https://getbootstrap.com/docs/4.0/components/list-group/ with grades in the small text#}

                            <div class="card">

                                        <table class="table table-sm table-hover">
                                        <tbody>

                                        {% for route in collection_description['routelist'] %}


                                        <tr class='table text-left'>
                                            <td class="table-primary text-center">
                                                <a href = {{ url_for('genRouteReport',collection_url=collection_description['collection_url'],route=route, period='day') }} id="{{route}}">
                                                             {{route}}
                                                </a>
                                            </td>
                                            <td class="table text-left">
                                                {% for route_2_match in route_descriptions.routedata %}
                                                    {% if route==route_2_match.route %}
                                                                                                        <a href = {{ url_for('genRouteReport',collection_url=collection_description['collection_url'],route=route, period='day') }} id="{{route}}">
                                                            <strong>{{route_2_match.prettyname |title}}</strong>
                                                </a>

                                                        {#{{route_2_match.description_short }}#}
                                                    {%  endif %}
                                                {%  endfor %}

                                            </td>
                                        </tr>

                                        {% endfor %}

                                        </tbody>


                                        </table>
{#                                    </div>#}
{#                                </div>#}
                            </div>








                </div>
                -->

                            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4">
                <div id="map" class="container">
                </div>
            </div>
                <!-- Content -->
            </div>




        <!--Grid row-->
        </div>


    </div>




    </main>
    <!--Main layout-->


{% endblock %}


