

{%- extends "base.jinja2" %}


{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block head %}
<META HTTP-EQUIV="refresh" CONTENT="60">

    <!-- seems to have no effect --> <style> #map { width:100%; } </style>

{{ super() }}
{% endblock %}


{% block breadcrumb %}
<li class="breadcrumb-item"><a href={{ url_for('genRouteReport', collection_url=collection_descriptions.collection_url,route=routereport.route, period=period) }}>{{routereport.route}} {{routereport.prettyname}}</a></li>

{% endblock %}}

{% block scripts %}

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='mdb/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ url_for('static', filename='mdb/css/mdb.min.css')}}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ url_for('static', filename='mdb/css/style.min.css')}}" rel="stylesheet">


    <script type="text/javascript">
        var passed_route = {{ route | safe}}
        <!-- var passed_reportcard_routes = {{ route_definitions|safe }} -->
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='maps/busmap_route.js')}}"></script>

   <!-- zoom to extent stuff -->
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>



{% endblock %}



{% block sticky_nav %}

<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-white">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav">
                                <li class="breadcrumb-item active"><a href = {{url_for('displayIndex')}}>home</a></li>
             </ul>
            <ul class="navbar-nav ml-auto">
                  {% for p,v in period_descriptions.items() %}
<li class="breadcrumb-item "><a href = {{url_for('genRouteReport',collection_url=collection_descriptions.collection_url,route=routereport.route,period=v['name'])}}>{{  v['label'] }}</a></li>


                {%  endfor %}
            </ul>
        </div>
    </div>
</nav>


{% endblock %}



{% block content_main %}






    <!--Main layout-->
    <main class="mt-2 pt-5">
        <div class="container">


            <!--Section: Title
            <section id="menu" class="text-center">

                <div class="card-body text-black text-center">
                    <h1 class="mb-4">
                        <strong>{{routereport.route}} {{routereport.prettyname}}</strong></h1>
                </div>

            </section>
            -->

            <!--Section: Title, Arrivals, and Map -->
            <section  class="text-left">
                <!--Grid row-->
                <div class="row mb-4 wow fadeIn">
                    <!--Grid column-->
                    <div class="col-lg-12 col-md-12 mb-4">
                        <!--Card-->
                        <div class="card">


                        <div class="card-body table">
                        <!--
                            {% if (routereport.grade=='A' or routereport.grade=='B') %}
                                <div class="card-body table-success">
                            {% elif routereport.grade=='C' %}
                                <div class="card-body table-warning">
                            {% elif (routereport.grade=='D' or routereport.grade=='F') %}
                                <div class="card-body table-danger">
                            {% elif (routereport.grade=='N/A') %}
                                <div class="card-body table-secondary">
                            {% endif %}
                            -->

                                <div class="row mb-4 wow fadeIn">
                                <div class="col-lg-12 col-md-12 mb-4 text-left">
                                    <!--Title-->

                                    <h1 class="card-title">There are {{ routereport.active_bus_count }} buses operating on the {{routereport.route}} {{routereport.prettyname}} right now.</h1>
                                </div>
                                </div>

                                <div class="row mb-4 wow fadeIn">
                                <div class="col-lg-4 col-md-12 mb-4">

                                    <div class="card" style="">
                                      <div class="card-body"> {# todo add conditional card color formatting based on grade #}
                                        <h5 class="card-title">{{routereport.period_descriptions[period]['possessive_label']|title}} Grade</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{routereport.grade_report['grade']}}</h6>
                                        <p class="card-text">{{routereport.grade_report['grade_description'][0]}}</p>
                                      </div>
                                    </div>

                                </div>

                                <div class="col-lg-8 col-md-12 mb-4">

                                    <div class="card" style="">
                                      <div class="card-body">
                                        <h5 class="card-title">Card title</h5>
                                        <h6 class="card-subtitle mb-2 ">Card subtitle</h6>
                                        <p class="card-text">You can get lots more information in the reports below, which summarize all the trips on the {{ route }} route {{ routereport.period_descriptions[period]['descriptive_label'] }}. Click on the stop name, or browse the full list of stops below for more detail.
                              </p>
                                        <a href="#" class="card-link">Card link</a>
                                        <a href="#" class="card-link">Another link</a>
                                      </div>
                                    </div>

                                </div>
                                </div>

                        <div class="row mb-4 wow fadeIn">

                             <div class="col-lg-8 col-md-12 mb-4">

                                    <div class="card" style="">
                                      <div class="card-body">
                                        <h5 class="card-title">Bunching report</h5>
                                        <h6 class="card-subtitle mb-2 ">Bunching badboys</h6>
                                        <p class="card-text">You can get lots more information in the reports below, which summarize all the trips on the {{ route }} route {{ routereport.period_descriptions[period]['descriptive_label'] }}. Click on the stop name, or browse the full list of stops below for more detail.
                              </p>

                                           <table class="table table-sm table-hover">
                                        <tbody>

                                        {%  if routereport.bunching_report['dummy'] == True %}

                                        <tr class='table text-left'>

                                                 <td>No data.</td>
                                                 <td>No data.</td>

                                            </tr>

                                        {%  else %}
                                            {%  for stop in routereport.bunching_report['bunching_leaderboard'] %}

                                             <tr class='table text-left'>

                                                 <td>{{stop.stop_name|title}}</td>
                                                 <td>{{stop.bunched_arrivals_in_period}}</td> {#  todo add url_for the genStopReport #}

                                            </tr>
                                            {% endfor %}
                                        {%  endif %}
                                        </tbody>
                                    </table>




                                        <a href="#" class="card-link">Card link</a>
                                        <a href="#" class="card-link">Another link</a>
                                      </div>
                                    </div>

                                </div>



                        </div>





                <div class="row mb-4 wow fadeIn">

                    <div class="col-lg-8 col-md-12 mb-4">
                        {% for trip_id,trip_dict in routereport.tripdash.items() %}
                            <!--Card-->
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-title"><strong>To {{ trip_dict['pd'] }}</strong> <span class="small">{{ trip_id | split_(0) }}</span></p>
                                    <div class="row mt-2">
                                        <table class="table table-sm table-hover">
                                                    <tbody>
                                                    {% for stop in trip_dict['stoplist'] %}
                                                     <tr class='table text-left'>

                                                     {% if stop.arrival_timestamp is not none %}
                                                         <td class="table-primary">{{stop.arrival_timestamp|strftime_today}}</td>
                                                         <td class="table-secondary">
                                                             <a href = {{url_for('genStopReport',collection_url=collection_url, route=routereport.route,stop=stop.stop_id,period=period) }} id="{{stop.st}}">
                                                             {{stop.stop_name|title}}
                                                         </a></td>
                                                     {% else %}
                                                         <td>--</td>
                                                         <td><{{stop.stop_name|title}}</td>
                                                     {% endif %}
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                          {% endfor %}
                    </div>

                    <div class="col-lg-4 col-md-12 mb-4">
                        <div id="map" class="container">
                        </div>
                    </div>
                    <!--Grid column-->
                </div>


                                </div>


                            </div>


                        </div>

                    </div>


            </section>



            <!--Section: Map-->
            <section id="map_box">

                <!--Grid row-->
                <div class="row mb-4 wow fadeIn">


                     <!--&lt;!&ndash;Map column&ndash;&gt;-->
                     <!--<div  class="col-lg-12 col-md-12">-->

                        <!--<div id="map" class="container">-->
                        <!--</div>-->

                     <!--</div>-->
                </div>
            </section>


            <!--Section: Stops-->
            <hr id="stops" class="my-5">

            <section class="text-left">
                     <h1 class="mb-4">
                        <strong>Stops</strong>
                    </h1>
                    <p class="mb-4">
                        <strong>The following is complete list of stops on the {{routereport.route}}, grouped by direction and service. Click on a stop for a detailed report of current and past service at that location.</strong>
                    </p>

                <!--Grid row-->
                <div class="row mb-4 wow fadeIn">


                    {% for path in routereport.route_stop_list %}
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <!--
                            <div class="view overlay">
                                <div class="embed-responsive embed-responsive-16by9 rounded-top">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
                                </div>
                            </div>
                            -->

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">To {{path.dd}}</h4>

                                <div id="buses" class="row mt-2">

                                    {% for stop in path.stops %}
                                    <!-- <p class="mb-4"><a href = {{url_for('genStopReport',collection_url=collection_url, route=routereport.route,stop=stop.identity,period=period) }} id="{{stop.st}}"><span class="label">{{stop.st|title}}</span>
                                    </a></p> -->

                                                                            <p class="mb-0"><a href = {{url_for('genStopReport',collection_url=collection_url, route=routereport.route,stop=stop.identity,period=period) }} id="{{stop.st}}"><span class="label">{{stop.st|title}}</span>
                                    </a></p>
                                    {% endfor %}

                                </div>


                            </div>

                        </div>
                        <!--/.Card-->


                    </div>
                    <!--Grid column-->
                    {% endfor %}


                </div>
                <!--Grid row-->


            </section>
            <!--Section: Stops-->





            <!--Section: Current Service-->
            <section id="current_service">


                <!--Grid row-->
                <div class="row mb-4 wow fadeIn">


                    {% for trip in routereport.active_trips %}

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-12 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Bus {{ trip.trip_id | split_(0) }}</h4>
                                <!--
                                <h4 class="card-title">{{trip.trip_id}}</h4>
                                -->
                                <!--Text-->
                                <div id="buses" class="row mt-2">


                                    <table class="table table-sm table-hover">
                                                <thead class="thread-dark">
                                                <tr>
                                                    <th>Arrival</th>
                                                    <th>Stop</th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                {% for stop in trip.trip_card %}
                                                {%if stop.arrival_timestamp != none %}


                                                    <tr class='table-success'>

                                                <tr class='table text-left'>

                                                    <td>{{stop.arrival_timestamp|strftime_today}}</td>
                                                    <td>{{stop.stop_name|title}}</td>
                                                </tr>
                                                {% endif %}

                                                {% endfor %}

                                                </tbody>
                                    </table>

                                </div>




                            </div>

                        </div>
                        <!--/.Card-->


                    </div>
                    <!--Grid column-->


                    {% endfor %}



                </div>
                <!--Grid row-->


            </section>
            <!--Section: Current Service-->




        </div>


    </main>
    <!--Main layout-->


{% endblock %}
