{#  todo tweak grid settings for small devices #}
{%- extends "base.jinja2" %}
{% import "bootstrap/utils.html" as utils %}

{% block head %}
<META HTTP-EQUIV="refresh" CONTENT="60">
    <style>
        #map { width:100%; }
    </style>
{{ super() }}
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        var passed_trip_id = {{ trip_id | safe}}
    </script>

    <!-- fontawesome, bootstrap, mdb -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="{{ url_for('static', filename='mdb/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='mdb/css/mdb.min.css')}}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ url_for('static', filename='mdb/css/style.min.css')}}" rel="stylesheet">
    <!-- mapboxjs -->
    <script type="text/javascript" src="{{ url_for('static', filename='maps/busmap_route.js')}}"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>



{% endblock %}


{% block sticky_nav %} {#  future highlight the current period with <mark></mark> #}

<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-white">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav">
              <li class="breadcrumb-item active"><a href = {{url_for('displayIndex')}}>home</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% for p,v in period_descriptions.items() %}
                    <li class="breadcrumb-item "><a href = {{url_for('genRouteReport',collection_url=collection_url,route=routereport.route,period=v['name'])}}>{{  v['label'] }}</a></li>
                {%  endfor %}
            </ul>
        </div>
    </div>
</nav>

{% endblock %}



{%  block content_main %}

    <!--Main layout-->
    <main class="mt-2 pt-5">
        <div class="container">

            <!--ROW 1-->
            <div class="row mb-4 wow fadeIn">
                <h2 class="card-title">
                <a href = "{{ url_for('genRouteReport',collection_url=collection_url,route=routereport.route, period=period) }}">
                    {#  bug 2 trailing slash breaks url #}

                            {{routereport.route}} {{routereport.prettyname}}

                    </a>
      </h2>
            </div>
            <div class="row mb-4 wow fadeIn">
                <h4>The log below shows each observed stop call for bus {{  trip_report.tripdash[trip_id]['v'] }} on run {{  trip_report.tripdash[trip_id]['run'] }} on route {{  trip_report.route }}. Times indicated in blue are <span class="badge badge-primary badge-pill">observed</span> and those in purple are <span class="badge badge-secondary badge-pill">interpolated</span>.</h4>
            </div>


           <!--TRIPDASH NEW BLOCK START -->
            <div class="row mb-4 wow fadeIn">
                <div class="col-lg-8 col-md-12 mb-4">


                {% for trip_id,trip_data in trip_report.tripdash.items() %}
                <ul class="list-group">
                    {% for stop in trip_data['stoplist'] %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">{{stop.stop_name}}
                        {% if stop.arrival_timestamp is not none %}
                            {% if stop.interpolated_arrival_flag is sameas true %}
                                <span class="badge badge-secondary badge-pill">{{stop.arrival_timestamp|strftime_today}}</span>
                            {% else %}
                                <span class="badge badge-primary badge-pill">{{stop.arrival_timestamp|strftime_today}}</span>
                            {%  endif %}
                        {% else %}
                            <span class="badge badge-secondary badge-pill">---</span>
                        {% endif %}
                        </li>
                    {% endfor %}

                </ul>
                {% endfor %}




                </div>
                    <!--TRIPDASH NEW BLOCK END -->




                <!--MAP BLOCK START -->
                <div class="col-lg-4 col-md-12 mb-4">
                    <div id="map" class="container">
                    </div>
                    <p class="small">
                        *Trip playback map coming soon.
                    </p>
                </div>
                <!--MAP BLOCK END -->
            </div>


{% endblock %}