
        {% for route in reportcard_routes %}
            <div class="col-sm-3">

                    <h1 class="display-3 text-center"></h1>
                </a>
               <p class="lead text-left"></p>
            </div>


   </div>



    <!-- Page Content 3-->
     <div class="row my-4">
            <div id="map" class=".container-fluid">
            </div>
         <p >Map displays routes currently in service with live vehicle locations (positions may be 1-2 minutes behind ground truth).</p>
      </div>


        <!-- Page Content 4-->
     <div class="row">

            <div class="footer-copyright py-3 text-left">
      © 2018 Site concept and design by
      <a href="http://www.bitsandatoms.net" target="_blank"> Bits and Atoms</a> for Code4JC (<a href="https://github.com/code4jc/buswatcher" target="_blank">GitHub</a>). All data, both live and <a href="/static/images/jersey-city-bus-central-avenue-1948.jpg" target="_blank">historical</a>, is provided for informational purposes only.</div>

        </div>
      </div>




    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="static/mdb/js/mdb.min.js"></script>
  <!-- Initializations -->


{%- endblock %}
