mysql-connector-python == 8.0.15
SQLAlchemy == 1.2.15
pandas == 0.23.4
psycopg2 == 2.7.7
Flask == 1.0.2
Flask-Assets == 0.12
Flask-Bootstrap4 == 4.0.2
Flask-Cors == 3.0.7
Jinja2 = 2.10
geojson == 2.4.1
geopandas = 0.40
Fiona == 1.8.4
numpy = 1.15.4
gunicorn == 19.9.0
supervisor==3.3.4
