{% extends 'dev/arrivals-base.html' %}

{% block container_route %}

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">direction</th>
      <th scope="col">stop</th>
    </tr>
  </thead>
  <tbody>
    {% for stop in route_stop_list[0] %}
        <tr>
            <td>{{stop.d}}</td>
            <td>{{stop.st}}</td>
        </tr>
    {% endfor %}

    {% for stop in route_stop_list[1] %}
        <tr>
            <td>{{stop.d}}</td>
            <td>{{stop.st}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block container_arrivals %}

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th scope="col">arrival time</th>
      <th scope="col">bus #</th>
    </tr>
  </thead>
  <tbody>
    {% for (index,row) in arrivals.arrivals_list_final_df.iterrows() %}
        <tr>
            <td>{{row.timestamp|strftime_custom}}</td>
            <td>{{row.v}}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

