<html>
<head>
    <title>Bus Report Card: Arrivals {{arrivals.period}} for Route {{arrivals.route }}, Stop {{arrivals.stop}}</title>
</head>
<body>
<h1>Bus Report Card</h1>
<h2>Arrivals {{arrivals.period}} for Route {{arrivals.route }}, Stop {{arrivals.stop}}</h2>

<table width="80%">
<tbody>
{% for (index,row) in arrivals.arrivals_list_final_df.iterrows() %}
    <tr>
    {% for column_val in row %}
        <td align="center">
        <pre>{{column_val}}</pre>
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>

</body>
</html>


