<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bus Report Card: {{arrivals.period}} arrivals for Route {{arrivals.route}}, {{arrivals.arrivals_list_final_df['stop_name'].iloc[0]}}
        </title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Route {{arrivals.route }} • {{arrivals.arrivals_list_final_df['stop_name'].iloc[0]}}</h1>
        <p>You can view bus performance at any stop along the line in either direction by clicking on the stop in the center column below. Last observed arrivals will display in the right column along with a grade for the period in question. Change the period using the buttons to regenerate the report and grade.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Methodology &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>About This Site</h2>
            <p>Jersey City Heights is the northernmost neighborhood in New Jersey's largest municipality and since the demolition of an <a href="https://jerseydigs.com/streetcar-stories-history-north-hudson-railway-company/">extensive network of streetcars</a> in the 1950s has relied extensively on buses for transit connections to surrounding areas and New York City.</p>
            <p>Unfortunately, despite service improvements by NJ Transit and the growth of private jitney lines, the area still suffers from transit backups and irregularities. This website draws on real-time data collected from NJ Transit's transit API to track service quality and inform riders on overall trends in performance over time to improve dialogue between the public, community and city leaders, and transit officials.</p>
          <p><a class="btn btn-default" href="#" role="button">More about the project &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Arrivals: {{arrivals.period}}</h2>
          <p>
            {% block container_arrivals %}
            {% endblock %}
          </p>

 </div>
        <div class="col-md-4">
          <h2>Stops on the {{arrivals.route}}</h2>
          <p>Click on a stop to reload the report card.</p>

          <p>
            {% block container_route %}
            {% endblock %}
          </p>
          <p>
            <a class="btn btn-default" href="#" role="button">Download PDF schedule at NJT &raquo;</a>
          </p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2018 Bits and Atoms LLC. Creative Commons License pending, contact us for details.</p>
      </footer>
    </div> <!-- /container -->

  </body>
</html>
