<html>
<head>
    <title>Bus Report Card: Approach {{approaches.period}} for Route {{approaches.route }}, Stop {{approaches.stop}}</title>
</head>
<body>
<h1>Bus Report Card</h1>
<h2>Approach {{approaches.period}} for Route {{approaches.route }}, Stop {{approaches.stop}}</h2>

<table width="80%">
<tbody>
{% for n in approaches.approach_results %}
    <tr>
    {% for key, value in n.items() %}
        <td align="center">
        <pre>{{value}}</pre>
        </td>
    {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>

</body>
</html>


