<html>
<head>
    <title>Bus Report Card: Arrivals {{arrivals.period}} for Route {{arrivals.route }}, Stop {{arrivals.stop}}</title>
</head>
<body>
<h1>Bus Report Card</h1>
<h2>Arrivals {{arrivals.period}} for Route {{arrivals.route }}, Stop {{arrivals.stop}}</h2>

<p>To do:
<ul>
    <li>(3) render a condensed view: Fri 8 Aug 3:23a(#4394) 4:55a(#4390)...
</ul>
</p>


<table width="80%">
<tbody>
    <tr>
        <td align="center">arrival time</td>
        <td align="center">bus vehicle number</td>
    </tr>
{% for (index,row) in arrivals.arrivals_list_final_df.iterrows() %}

    <tr>
        <!-- <td align="center">{{row.timestamp.strftime('%Y %a %b %d %I:%M %p')}}</td> -->
        <td align="center">{{row.timestamp|strftime_custom}}</td>
        <td align="center">{{row.v}}</td>
    </tr>

    <!-- display all columns in dataframe
    {% for column_val in row %}
        <td align="center">
        <pre>{{column_val}}</pre>
        </td>
    {% endfor %}
    -->

{% endfor %}
</tbody>
</table>

</body>
</html>


