{%- extends "bootstrap/base.html" %}


{%  block head %}

{{ super() }}
<META HTTP-EQUIV="refresh" CONTENT="30">

{% endblock %}

{%  block body %}

    <div class="container">
        <div class="row">
            <h2>TripWatcher/Localizer v2.0</h2>
        </div>
        <div class="row">
            <p>APPROACH_DASH</p>
            <p>Shows last 20 observed positions for all buses on the road now in New Jersey on Route {{ route }}. n.b. tripwatcher.py must be running separately.</p>
        </div>
    <div class="row">
            <h1>Route {{ route }}</h1>
    </div>
    <div class="row">


            <div id="buses" class="row mt-2">

                {% for key,buses in busdash.items() %}
                    <div class="col-sm-6">




                        <p class="lead">bus {{key}} (run <a href = {{url_for('displayTripDash',source='nj',route=route,
                            run=buses[0].run)}}>{{ buses[0].run }}</a>) </p>

                        <table class="table table-sm table-hover">
                        <thead class="thread-dark">
                        <tr>
                            <th>timestamp</th>
                            <th>stop_id</th>
                            <th>d(ft)</th>
                            <th>arrival_flag</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for position in buses %}
                            {% if position.arrival_flag == True %}
                            <tr class='table-success'>
                        {% else %}
                        <tr class='table'>
                        {% endif %}
                            <td>{{position.timestamp|strftime_today}}</td>
                            <td>{{position.stop_id}}</td>
                            <td>{{position.distance_to_stop|int}}</td>
                            <td>{{position.arrival_flag}}</td>
                        </tr>


                        {% endfor %}
                                                    <tr>
                            <div id="map">
                            </div>
                            </tr>
                        </tbody>
                        </table>

                    </div>
                {% endfor %}

           </div>
        </div>


     </div>
    </div>


{% endblock %}