{# ``base.html`` is the template all our other templates derive from. While
   Flask-Bootstrap ships with its own base, it is good form to create a custom
   one for our app, as it allows customizing some aspects.

   Deriving from bootstap/base.html gives us a basic page scaffoling.

   You can find additional information about template inheritance at

   http://jinja.pocoo.org/docs/templates/#template-inheritance
#}
{%- extends "bootstrap/base.html" %}


{% block scripts %}
{% endblock %}

{# We also set a default title, usually because we might forget to set one.
   In our sample app, we will most likely just opt not to change it #}
{% block title %}JC Bus Watcher{% endblock %}

{# Then, inside the head block, we apply these. To not replace the header,
   ``super()`` is used: #}
{% block head %}

    <!-- FOR MAPBOX GL ROUTE MAP -->
    <!-- Mapbox GL JS js and css -->
     <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.js'></script>
     <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />

    <link rel="stylesheet" type="text/css" href="/static/maps/mapbox-gl-style.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{{super()}}
{%- endblock %}


{% block navbar %}
  <div class="py-2 bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb bg-white" style="margin-bottom:0px;margin-top:0px">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}



{# Adding our own CSS files is also done here. Check the documentation at
   http://pythonhosted.org/Flask-Bootstrap/basic-usage.html#available-blocks
   for an overview. #}
{% block styles -%}

    <style>
        .mapboxgl-popup {
            max-width: 200px;
            font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }
    </style>
{{super()}}
{# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
{% endblock %}

