{%- extends "bootstrap/base.html" %}


{%  block head %}

{{ super() }}
<META HTTP-EQUIV="refresh" CONTENT="30">

{% endblock %}

{%  block body %}

    <div class="container">
        <div class="row">

            <h2>TripWatcher/Localizer v2.0</h2>
                    <p>Shows last 10 observed positions for all buses on the road now in The Heights. Does not show routes where tripwatcher is not logging data.</p>
        </div>
    <div class="row">
            <h1>Route {{ route }}</h1>
    </div>
    <div class="row">


            <div id="buses" class="row mt-2">

                {% for key,buses in busdash.items() %}
                    <div class="col-sm-6">

                        <p class="lead">{{key}}</p>

                        <table class="table table-sm table-hover">
                        <thead class="thread-dark">
                        <tr>
                            <th>timestamp</th>
                            <th>rt</th>
                            <th>stop_id</th>
                            <th>d(ft)</th>
                            <th>arrival_flag</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for position in buses %}
                        <tr class='table'>
                            <td>{{position.timestamp|strftime_forever}}</td>
                            <td>{{position.rt}}</td>
                            <td>{{position.stop_id}}</td>
                            <td>{{position.distance_to_stop|int}}</td>
                            <td>{{position.arrival_flag}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>

                    </div>
                {% endfor %}

           </div>
        </div>


     </div>
    </div>


{% endblock %}