{%- extends "bootstrap/base.html" %}


{%  block head %}

{{ super() }}
<META HTTP-EQUIV="refresh" CONTENT="30">

{% endblock %}

{%  block body %}

    <div class="container">
        <div class="row">

            <h1>Heights BusWatcher Dash -- TripWatcher/Localizer v2.0</h1>
            <h2>on the road now</h2>

            <div id="buses" class="row mt-5">

                {% for key,buses in busdash.items() %}
                    <div class="col-sm-4">

                        <p class="lead">{{key}}</p>

                        <table class="table table-sm table-hover">
                        <thead class="thread-dark">
                        <tr>
                            <th>timestamp</th>
                            <th>stop_id</th>
                            <th>d(ft)</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for position in buses %}
                        <tr class='table'>
                            <td>{{position.timestamp|strftime_forever}}</td>
                            <td>{{position.stop_id}}</td>
                            <td>{{position.distance_to_stop|int}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        </table>

                    </div>
                {% endfor %}

           </div>
        </div>


     </div>
    </div>


{% endblock %}