{%- extends "bootstrap/base.html" %}

{% block head %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109853808-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109853808-2');
</script>

{{super()}}

{#- Docs: http://pythonhosted.org/Flask-Bootstrap/macros.html#fixes
   The sample application already contains the required static files. #}

{%- endblock %}

{% block navbar %}
  <div class="py-2 bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb bg-white" style="margin-bottom:0px;margin-top:0px">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}



{# Adding our own CSS files is also done here. Check the documentation at
   http://pythonhosted.org/Flask-Bootstrap/basic-usage.html#available-blocks
   for an overview. #}
{% block styles -%}

<link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='css/theme.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}


{% endblock %}

{% block content %}



  <div class="py-2 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">API Error</h1>
        </div>
      </div>
    </div>
  </div>


  <div class="py-3">
    <div class="container">
      <div class="row">

         <div class="col-md-12">
             <p class="lead">Something went really wrong -- looks like our server can't connect to the NJTransit API.</p>


        </div>

      </div>
    </div>
  </div>


{% endblock %}