{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}

{% block content %}
<link rel="stylesheet" href="/static/gen/route.css?262d6599" type="text/css">
<!-- # warning banner
<div class="container py-2">
     <div class="row">
        <div class="col-md-12">
          <h1>beta testing. some features may be wobbly.</h1>
        </div>
     </div>
</div>
-->

  <div class="py-5 text-center " style="background-image: url('static/images/banner.jpg');">
    <div class="container py-5 transparent">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-3 mb-4 text-dark text-capitalize">Buses are the backbone&nbsp;
            <br>of our neighborhood.&nbsp;</h1>
          <p class="lead large text-left">Jersey City residents depend on buses to get to work, school, and back home. But its hard to evaluate the quality of bus service.</p>
          <p class="lead text-left">That's why Code4JC built this site to provide a one-stop shop for statistics and charts on actual bus performance, drawn from the same data that powers NJTransit's mobile apps.Our goal is inform residents, businesses, and elected officials about trouble spots in bus service.
            <p class="lead text-left"> This website focuses on The Heights, where the Riverview Neighborhood Association has organized a petition drive for better bus service. You can learn about current bus service and take action by signing the petition.</p>
          <!-- <a href="#routepanel" class="btn btn-lg mx-1 btn-secondary">Check Out the Report Cards</a>
          <a href="https://goo.gl/forms/VF5S1Oclk9QTdZha2" class="btn btn-lg btn-primary mx-1">Sign the Petition for Better Bus Service</a> -->
        </div>

      </div>

        <div id="routepanel" class="py-5 bg-dark">
    <div class="container">
        <div class="py-2 text-center " >
            <h1 class="">Choose your route to read the report cards.</h1>

        </div>

      <div class="row">

        {% for route in reportcard_routes %}
        <div class="col-md-3">
            <a href = {{ url_for('genRouteReport_ServicePicker' ,source='nj',route=route.route) }}>
            <h1 class="text-center">{{route.route}}</h1>
            </a>
            <p class="lead text-center text-warning">Current Grade: {{route.grade}}</p>
          <p class="text-center">{{route.description_short}}</p>


        </div>
    {% endfor %}


      </div>
    </div>
  </div>
    </div>
  </div>






{%- endblock %}
