{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}


{% block head %}
{{ super() }}

    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <style>
        #map { width:100%; }
    </style>

{% endblock %}


{% block scripts %}

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYml0c2FuZGF0b21zIiwiYSI6ImNqbDhvZnl1YjB4NHczcGxsbTF6bWRjMWQifQ.w2TI_q7ClI4JE5I7QU3hEA';
var map = new mapboxgl.Map({
    container: 'map',
    style: "mapbox://styles/mapbox/light-v9",
    zoom: 0
});


map.on('load', function() {

    // starting view
    var mapCoordinates = [40.7400, -74.0501];
    var mapZoom = 13;




    // ROUTES


    {# using python.geojson FeatureCollection return #}
    var waypoints_geojson = {
        type: 'geojson',
        data:
            {{citywide_waypoints_geojson | safe}}

    };


    map.addSource('waypoints_geojson', waypoints_geojson);

    map.addLayer({
        "id": "route",
        "type": "line",
        "source": "waypoints_geojson",
        "paint": {
            "line-color": "blue",
            "line-opacity": 0.5,
            "line-width": 3
        }

    });


    // STOPS

    {# using python.geojson FeatureCollection return #}
    var stops_geojson = {
        type: 'geojson',
        data:
            {{citywide_stops_geojson | safe}}

    };


    map.addSource('stops_geojson', stops_geojson);

    map.addLayer({
        "id": "stops",
        "type": "circle",
        "source": "stops_geojson",
        "paint": {
            "circle-radius": 2,
            "circle-opacity": 1,
            "circle-stroke-width": 1,
            "circle-stroke-color": "#fff"
        }
    });


    // VEHICLES

    var routelistArray={{reportcard_routes|safe}};
    // var routelistArray= fetch({{reportcard_routes|safe}});

    for(let j=0; j<{{reportcard_routes|safe}}.length; j++) {

        map.addSource('vehicles_geojson'+routelistArray[j].route, {
            type: 'geojson',
            data: '/api/v1/positions?period=now&rt='+routelistArray[j].route
        });

        map.addLayer({
        "id": "vehicles"+routelistArray[j].route,
        "type": "circle",
        "source": "vehicles_geojson"+routelistArray[j].route,
        "paint": {
            "circle-radius": 4,
            "circle-opacity": 1,
            "circle-stroke-width": 3,
            "circle-stroke-color": "#f6c"
        }
        })

    };


    // setup the viewport
    map.jumpTo({
        'center': [-74.0501, 40.7400],
        'zoom': 12
    });

    // ZOOM TO THE EXTENT
    // based on https://www.mapbox.com/mapbox-gl-js/example/zoomto-linestring/

    // todo zoom to extent of ALL lines (not just [n] in below)
    var coordinates = waypoints_geojson.data.features[3].geometry.coordinates;
    var bounds = coordinates.reduce(function(bounds, coord) {
      return bounds.extend(coord);
    }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));
    map.fitBounds(bounds, { padding: 20 });


});

</script>

{% endblock %}

{% block content %}

        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">JC BusWatcher</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://goo.gl/forms/VF5S1Oclk9QTdZha2">Sign the Petition
              <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->


    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Buses are the backbone of <br>Jersey City's neighborhoods.</h1>
          <p class="lead text-left">We depend on buses every day to get to work, school, and back home again.</strong>  But its hard to evaluate the quality of bus service. That's why we built this site to provide a one-stop shop for bus performance information.</p>
          <ul class="list-unstyled">
            <li><a target="_self" href="#reportcards" class="btn btn-indigo btn-lg">Go to the report cards<i class="fa fa-graduation-cap ml-2"></i></li>
            <li><a target="_self" href="#map" class="btn btn-indigo btn-lg">Go to the map<i class="fa fa-map ml-2"></i></li>
          </ul>
        </div>
    </div>

    <!-- route grid -->
   <div id="reportcards" class="row features-small mt-5 wow fadeIn">

        {% for route in reportcard_routes %}
            <div class="col-md-3">
               <div class="container">
                <a href = {{ url_for('genRouteReport' ,source='nj',route=route.route) }}>
                    <h1 class="display-3 text-center">{{route.route}}</h1>
                </a>

               <p class="lead text-left">{{route.description_short}}</p>

               </div>
            </div>

        {% endfor %}

   </div>


    <!-- Page Content 3-->
     <div class="row">
            <div id="map" class=".container-fluid">
            </div>
      </div>


        <!-- Page Content 4-->
     <div class="row">
        <div id="petition" class="col-lg-12 text-center">


          <a class="btn btn-outline-white" href="https://goo.gl/forms/VF5S1Oclk9QTdZha2" target="_blank" role="button">Sign the Petition for Better Bus Service
            <i class="fa fa-download ml-2"></i>
          </a>

            <div class="footer-copyright py-3 text-left">
      © 2018 Site concept and design by
      <a href="http://www.bitsandatoms.net" target="_blank"> Bits and Atoms</a> for Code4JC (<a href="https://github.com/code4jc/buswatcher" target="_blank">GitHub</a>). All data and content is provided for informational purposes only.</div>

        </div>
      </div>

    </div>




    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="static/mdb/js/mdb.min.js"></script>
  <!-- Initializations -->


{%- endblock %}
