{% extends 'route-base.html' %}

{% block top_right %}

<!-- <h1 class="">Overview</h1>
<p class="lead">{{routereport.description_long}}</p> -->

           <!-- <p class=""><a class="ml-3 btn navbar-btn btn-secondary" href="https://goo.gl/forms/VF5S1Oclk9QTdZha2">Sign the petition for better bus service</a></p>

        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">Coming Soon: Route Grades</h4>
            <p class="mb-0">Soon we'll be adding grades that help you evaluate how well each bus route is doing in terms of service reliability.</p>
        </div>-->

  <h1 class="">Choose A Stop...</h1>
          <p class="lead">Choose a stop in this direction to see today's arrivals and more detailed performance statistics.</p>


<div class="btn-group">
    <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Choose stop...</button>
    <div class="dropdown-menu">
    {% for path in routereport.route_stop_list %}
        {% if path.id == service %}
            {% for stop in path.stops %}
                <a class="dropdown-item" href = {{url_for('genStopReport',source=routereport.source,route=routereport.route,stop=stop.identity,period='daily') }} id="{{stop.st}}">{{stop.st}}</a>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </div>
</div>


{% endblock %}


{% block top_left %}
<!--
<img class="img-fluid d-block" src="/static/images/map{{routereport.route}}.jpg" >
<div class="btn-group">
            <a href="{{routereport.schedule_url}}" class="btn btn-outline-primary">Official Schedule (PDF)</a>
            <a href="{{routereport.moovit_url}}" class="btn btn-outline-secondary">Moovit's {{routereport.route}} Page</a>
</div>
-->
{% endblock %}


{% block bottom %}




  <div class="py-5">
    <div class="container">
          <h1 class="">Route Dashboard</h1>
          <p class="lead">Here's the stops on the {{routereport.route}} running to {{service}} and what buses are arriving there soon.</p>
      <div class="row">

          {% for path in routereport.route_stop_list %}
                {% if path.id == service %}
                    {% for stop in path.stops %}

                      <div class="col-md-6">
                      <a class="btn btn-primary" href="#">{{stop.st}}</a>
                    </div>
          <!-- todo insert another loop to grab the arrival predictions for each stop.id from BusAPI.getStopPredictions, and display each as another nested <li> item -->
                    <div class="col-md-6">
                      <div class="btn-group">
                        <a href="#" class="btn btn-outline-primary">Btn 1</a>
                        <a href="#" class="btn btn-outline-primary">Btn 2</a>
                        <a href="#" class="btn btn-outline-primary">Btn 3</a>
                      </div>
                    </div>
                          {% endfor %}
            {% endif %}
        {% endfor %}
                  </div>
                </div>
              </div>




        <ul class="list-group" >

            {% for path in routereport.route_stop_list %}
                {% if path.id == service %}
                    {% for stop in path.stops %}
                        <li>{{stop.st}}</li>
                            <li>87 4 min</li>
                            <li>87 14 min</li>
                            <!-- todo insert another loop to grab the arrival predictions for each stop.id from BusAPI.getStopPredictions, and display each as another nested <li> item -->
                {% endfor %}
            {% endif %}
        {% endfor %}

        </ul>
-->
{% endblock %}


