{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Unused for now but offer the opportunity to insert content before or after the breadcrumb navbar defined in route-based.html - position relative to super() call #}
{% block navbar %}
{{super()}}
{%- endblock %}

{% block scripts %}

<script src='//d3js.org/d3.v3.min.js' charset='utf-8'></script>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYml0c2FuZGF0b21zIiwiYSI6ImNqbDhvZnl1YjB4NHczcGxsbTF6bWRjMWQifQ.w2TI_q7ClI4JE5I7QU3hEA';
var map = new mapboxgl.Map({
    container: 'map',
    style: "mapbox://styles/mapbox/light-v9",
    zoom: 0
});

map.on('load', function() {

    // starting view
    var mapCoordinates = [40.7400, -74.0501];
    var mapZoom = 13;

    // ROUTES

    var waypoints_geojson = {
        type: 'geojson',
        data: {
            "type": "Feature",
            "properties": {},
            "geometry": {{routereport.waypoints_geojson | safe}}
        }
    };

    map.addSource('waypoints_geojson', waypoints_geojson);

    map.addLayer({
        "id": "route",
        "type": "line",
        "source": "waypoints_geojson",
        "paint": {
            "line-color": "blue",
            "line-opacity": 0.75,
            "line-width": 5
        }
    });


    // STOPS

        var stops_geojson = {
        type: 'geojson',
        data: {
            "type": "Feature",
            "properties": {},
            "geometry": {{routereport.stops_geojson | safe}}
        }
    };

    map.addSource('stops_geojson', stops_geojson);

    map.addLayer({
        "id": "stops",
        "type": "circle",
        "source": "stops_geojson",
        "paint": {
            "circle-radius": 2,
            "circle-opacity": 1,
            "circle-stroke-width": 2,
            "circle-stroke-color": "#fff"
        }
    });


    // VEHICLES

    map.addSource('vehicles_geojson', {
        type: 'geojson',
        data: 'http://0.0.0.0:5000/api/v1/positions/?period=now&rt={{routereport.route}}'
    });

    map.addLayer({
        "id": "vehicles",
        "type": "circle",
        "source": "vehicles_geojson",
        "paint": {
            "circle-radius": 4,
            "circle-opacity": 1,
            "circle-stroke-width": 3,
            "circle-stroke-color": "#f6c"
        }

    });


    // setup the viewport
    map.jumpTo({
        'center': [-74.0501, 40.7400],
        'zoom': 12
    });

    // ZOOM TO THE EXTENT

    /*
    var coordinates = stops_geojson.features[0].geometry.coordinates; // todo what is right var here!!!!
    var bounds = coordinates.reduce(function(bounds, coord) {
      return bounds.extend(coord);
    }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));
    map.fitBounds(bounds, { padding: 20 });
    */

});

</script>

{% endblock %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}

  <div class="py-2 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">{{routereport.routename}}</h1>
        </div>
      </div>
    </div>
  </div>


{% if request.url_rule.endpoint == "genStopReport" %}
  {% block period_nav %}
  {% endblock %}
{% endif %}

  <div class="py-3">
    <div class="container">
      <div class="row">

         <div class="col-md-6">
          {% block top_left %}
          {% endblock %}

        </div>



        <div class="col-md-6">
          {% block top_right %}
          {% endblock %}
        </div>




      </div>
    </div>
  </div>

    <div class="py-5 bg-light">
    <div class="container">
      <div class="row">


        <div class="col-md-12">
          {% block bottom %}
          {% endblock %}
        </div>


      </div>
    </div>
  </div>



  <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">Data released under <a href="https://cdla.io/sharing-1-0/">Community Data License Agreement – Sharing, Version 1.0</a>, but may be subject to restrictions based on <a href="http://mybusnow.njtransit.com/bustime/home.jsp">origin</a>.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
