{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Unused for now but offer the opportunity to insert content before or after the breadcrumb navbar defined in route-based.html - position relative to super() call #}
{% block navbar %}
{{super()}}
{%- endblock %}

{% block scripts %}

<script src='//d3js.org/d3.v3.min.js' charset='utf-8'></script>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYml0c2FuZGF0b21zIiwiYSI6ImNqbDhvZnl1YjB4NHczcGxsbTF6bWRjMWQifQ.w2TI_q7ClI4JE5I7QU3hEA';
var map = new mapboxgl.Map({
    container: 'map',
    style: "mapbox://styles/mapbox/light-v9",
    zoom: 0
});

map.on('load', function () {

        // starting view
        var mapCoordinates = [40.7400,-74.0501];
        var mapZoom = 13;

        // FUTURE - API SOURCE
        // map.addSource('new_map_data', { type: 'geojson', data: 'http://buswatcher.code4jc.org/api/v1/playback/?rt=119&date=20181031&run=910' });

        // PARSED ROUTE GEOJSON FROM API
        // map.addSource('stops_geojson', { type: 'geojson', data: {{ routereport.stops_geojson|safe }} });

        // TEST NJT Rt. 87
        map.addSource('njt87', {type: 'geojson', data:
                {
                  "type": "Feature",
                  "properties": {},
                  "geometry":
                    {
                        "type": "LineString",
                        "coordinates":
                          [
                              [-74.26103,40.88705],[-74.26234,40.88787],[-74.25858,40.88549],[-74.25902,40.88509],[-74.2592,40.88514],[-74.25954,40.8853],[-74.26217,40.8869],[-74.26257,40.88716],[-74.26283,40.88738],[-74.263,40.88759],[-74.26312,40.88783],[-74.26318,40.8881],[-74.26338,40.88962],[-74.26342,40.8904],[-74.26339,40.89058],[-74.26335,40.8907],[-74.26323,40.89092],[-74.26306,40.89113],[-74.26251,40.89159],[-74.26235,40.89164],[-74.26218,40.89175],[-74.26197,40.89185],[-74.26142,40.892],[-74.26,40.89214],[-74.26001,40.8926],[-74.25997,40.89276],[-74.25985,40.89283],[-74.25956,40.89296],[-74.25782,40.8931],[-74.257,40.89314],[-74.25569,40.89306],[-74.25516,40.89295],[-74.254,40.89285],[-74.25334,40.89286],[-74.25262,40.89302],[-74.25181,40.89335],[-74.25072,40.89373],[-74.25012,40.89391],[-74.24952,40.89404],[-74.24927,40.89411]
                          ]
                    }
                }
              }

            );


        map.addLayer({
            "id": "njt87",
            "type": "line",
            "source": "njt87",
            "paint": {
                "line-color": "yellow",
                "line-opacity": 0.75,
                "line-width": 5
                }
              }
            );

        map.addLayer({
            "id": "stops_geojson",
            "type": "line",
            "source": "njt87",
            "paint": {
                "line-color": "yellow",
                "line-opacity": 0.75,
                "line-width": 5
                }
              }
            );


        // setup the viewport
        map.jumpTo({
            'center': [-74.0501, 40.7400],
            'zoom': 12
        });

        // ZOOM TO THE EXTENT
        // based on https://www.mapbox.com/mapbox-gl-js/example/zoomto-linestring/

        var coordinates = stops_geojson.data.geometry.coordinates; //todo close to debugging (use 'sources' / 'watch = stops_geojson' in Chorme Javascript console
        var bounds = coordinates.reduce(function(bounds, coord) {
          return bounds.extend(coord);
        }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));
        map.fitBounds(bounds, { padding: 20 });


    });

</script>

{% endblock %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}

  <div class="py-2 bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">{{routereport.routename}}</h1>
        </div>
      </div>
    </div>
  </div>


{% if request.url_rule.endpoint == "genStopReport" %}
  {% block period_nav %}
  {% endblock %}
{% endif %}

  <div class="py-3">
    <div class="container">
      <div class="row">

         <div class="col-md-6">
          {% block top_left %}
          {% endblock %}

        </div>



        <div class="col-md-6">
          {% block top_right %}
          {% endblock %}
        </div>




      </div>
    </div>
  </div>

    <div class="py-5 bg-light">
    <div class="container">
      <div class="row">


        <div class="col-md-12">
          {% block bottom %}
          {% endblock %}
        </div>


      </div>
    </div>
  </div>



  <div class="bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-white">Data released under <a href="https://cdla.io/sharing-1-0/">Community Data License Agreement – Sharing, Version 1.0</a>, but may be subject to restrictions based on <a href="http://mybusnow.njtransit.com/bustime/home.jsp">origin</a>.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
