{% extends 'route-base.html' %}


{% block route_summary %}

      <h1 class="display-4">
			{{routereport.route}} <b>{{routereport.prettyname}}</b></h1>

<p class="lead">{{routereport.description_long}}</p>


              <a target="_self" href="#stopreports" class="btn btn-indigo btn-lg">View stop reports<i class="fa fa-map ml-2"></i></a>
                <a target="_self" href="{{routereport.schedule_url}}" class="btn btn-indigo btn-lg">Get NJT schedule<i class="fa fa-graduation-cap ml-2"></i>
                <a target="_self" href="https://goo.gl/forms/VF5S1Oclk9QTdZha2" class="btn btn-indigo btn-lg">Sign the petition for better service<i class="fa fa-map ml-2"></i></a>
          </a>



 <!--   {% if (routereport.grade=='A' or routereport.grade=='B') %}
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">Current Grade:{{routereport.grade}}</h4>
            <p class="mb-0"> {{routereport.grade_description}}</p>
        </div>
    {% endif %}
    {% if routereport.grade=='C' %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Current Grade:{{routereport.grade}}</h4>
            <p class="mb-0"> {{routereport.grade_description}}</p>
        </div>
    {% endif %}
    {% if (routereport.grade=='D' or routereport.grade=='F') %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Current Grade:{{routereport.grade}}</h4>
            <p class="mb-0"> {{routereport.grade_description}}</p>
        </div>
    {% endif %}
-->


{% endblock %}



{% block stoplist %}

    <!-- new stoplist 20 nov 2018 -->

    <div id="stopreports" class="py-5">

        <h3 class="">Stop Reports</h3>
        <p class="lead">Click on a stop to see statistics on on-time performance, frequency, and reliability for currently running services.

        <!-- todo possible to make a div with fluid number of columns here based on count(paths)? -->

        {% for path in routereport.route_stop_list %}
            <p class="lead">To {{path.dd}}</p>
<div class="container">

            {% for stop in path.stops %}

                <a href = {{url_for('genStopReport',source=routereport.source,route=routereport.route,stop=stop.identity,period='daily') }} id="{{stop.st}}">
                    <span class="label">{{stop.st}} </span>
                </a> •

            {% endfor %}
</p>
</div>
        {%  endfor %}

    </div>


{% endblock %}


{% block reliability_report %}
<!-- FUTURE reliability report v1 -- coming soon, histogram of travel time based on differential arrival time of same bus id at 1st, last and middlest stop # of std deviations -->

{% endblock %}


