{% extends 'route-base.html' %}


{%  block scripts %}
{{super()}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/static/chart/chart.js/dist/Chart.js"></script>
<script src="/static/chart/frequency-histogram-steppedline.js"></script>

{% endblock %}

{% block navbar %}

    <div class="py-2 bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb bg-white" style="margin-bottom:0px;margin-top:0px">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
			  <li class="breadcrumb-item">
				  <a href="/nj/{{routereport.route}}">{{routereport.route}}</a>
				  <!-- BUG? this breadcrumb should go back to /nj/87/service/3391 not /nj/87 -->
			  </li>
            <li class="breadcrumb-item active">{{stopreport.stop_name|title}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block period_nav %}

    <div class="py-2 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb bg-light" style="margin-bottom:0px;margin-top:0px">
            <li class="breadcrumb-item active"><a href = {{url_for('genStopReport',source=routereport.source,route=routereport.route,stop=stopreport.stop,period='daily')}}>daily</a></li>
			<li class="breadcrumb-item "><a href = {{url_for('genStopReport',source=routereport.source,route=routereport.route,stop=stopreport.stop,period='yesterday')}}>yesterday</a></li>
		    <li class="breadcrumb-item "><a href = {{url_for('genStopReport',source=routereport.source,route=routereport.route,stop=stopreport.stop,period='weekly')}}>weekly</a></li>
		    <li class="breadcrumb-item "><a href = {{url_for('genStopReport',source=routereport.source,route=routereport.route,stop=stopreport.stop,period='history')}}>history</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block summary %}

	  <div class="row">
		<div class="col-md-12">
		  <h1 class="display-4">
			{{routereport.route}} <b>{{routereport.prettyname}}</b>
          </h1>
            <h3 class="display-4">
			{{stopreport.stop_name|title}}
          </h3>

		</div>
	  </div>

    <div class="col-md-12" id ="arrivals-histogram">

    </div>




<!--
<div class="alert alert-success" role="alert">
         <h4 class="alert-heading">Meets Expectations</h4>
              <p class="">Service is meeting expectations when actual arrivals correspond with scheduled timetables.</p>
          </div>
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Falling Behind</h4>
              <p class="">When buses show up less frequently than scheduled, riders are left waiting longer and buses can be more crowded.</p>
          </div>
-->

<div class="container my-3">
<div class="row">
    <div class="col-md-6">


        <h4 class="">How Often Do Buses Come?</h4>
            <p class="head">
                <mark>Service Frequency</mark> is one important measure of how good bus service is at your corner. The table below shows the average interval between {{routereport.route}} buses at {{stopreport.stop_name}} for each hour of the day in the following period: ({{period}}).
            </p>


        <!-- CHART.JS stepped-line chart -->
        <div id ="frequency-histogram">

        </div>


         <table class="table table-sm table-hover">
            <thead class="thread-dark">
              <tr>
                <th>hour</th>
                <th>bus every</th>
              </tr>
            </thead>
            <tbody>

            {% for (index,row) in hourly_frequency.iterrows() %}
                <tr class='table'>
                    <td>{{row.hour|hour_as_int}}</td>
                    {% if row.frequency != row.frequency %}
                        <td>- - -</td>
                    {% else %}
                        <td>{{row.frequency|int}} mins</td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
          </table>

    </div>

    <div class="col-md-6">


            <h4 class="">How Much Bunching Is Going On?</h4>
            <p class="head">
                <mark>Bunching</mark> occurs when a bus arrives at a stop within 3 minutes or less of the previous bus, and leads to more irregular service, with some buses overcrowded and others virtually empty. Bunching has many causes-some of which can't be controlled-but more can be done. Red arrival times indicate a bus that bunched too close to the one ahead.


              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th>time</th>
                    <th>interval</th>
                      <th>bus</th>
                  </tr>
                </thead>
                <tbody>
                {% for (index,row) in stopreport.arrivals_list_final_df.iterrows() %}
                    {% if (row.delta > stopreport.bigbang) and (row.delta <= stopreport.bunching_interval) %}
                        <tr class='table-danger'>
                            <td>{{row.timestamp|strftime_period(period)}}</td>
                            <td>{{row.delta|strftime_timedelta}}</td>
                                                    <td>{{row.v}}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{row.timestamp|strftime_period(period)}}</td>

                            <td>{{row.delta|strftime_timedelta}}</td>
                            <td>{{row.v}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
              </table>

    </div>
</div>
</div>




{% endblock %}



{% block unused %}

<!--
          <table class="table table-sm">
            <thead>
              <tr>
                <th>route</th>
                <th>destination</th>
                <th>bus #</th>
                <th>eta</th>
              </tr>
            </thead>
            <tbody>

            {% for row in predictions %}
                {% if row.pt == 'APPROACHING' %}
                    <tr class='table-danger'>
                        <td>{{row.rd}}</td>
                        <td>{{row.fd}}</td>
                        <td>{{row.v}}</td>
                        <td>{{row.pt}}</td>
                    </tr>
                {% else %}
                    <tr class='table-secondary'>
                        <td>{{row.rd}}</td>
                        <td>{{row.fd}}</td>
                        <td>{{row.v}}</td>
                        <td>{{row.pt}} mins</td>
                    </tr>
                {% endif %}
            {% endfor %}

            </tbody>
          </table>
-->

{% endblock %}


