<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

	<title>JC Bus Report Card (Route {{routereport.routename}}): {{stopreport.stop_name}}</title>


  {% assets "route_css" %}
	  <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css">
  {% endassets %}

	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109853808-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109853808-2');
</script>


</head>

<body>


    <div class="py-2 bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb" style="margin-bottom:0px;margin-top:0px">
            <li class="breadcrumb-item">
              <a href="/">Home</a>
            </li>
			  <li class="breadcrumb-item">
				  <a href="/nj/{{routereport.route}}">{{routereport.routename}}</a>
				  <!-- BUG? this breadcrumb should go back to /nj/87/service/3391 not /nj/87 -->
			  </li>
            <li class="breadcrumb-item active">{{stopreport.stop_name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="py-2 bg-dark">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <h1 class="">{{routereport.routename}}</h1>
		</div>
	  </div>
	</div>
  </div>

  <div class="py-2 bg-light">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <h1 class="display-4">
			<b>{{stopreport.stop_name}}</b></h1>
		</div>
	  </div>
	</div>
  </div>




  <div class="py-2 bg-light">
	<div class="container">
	  <div class="row">


		  <div class="col-md-4">
		  <h1 class="">Arriving Soon</h1>
		  {% block predictions %}
		  {% endblock %}
		</div>

		  <div class="col-md-4">
		  <h1 class="">Arrival History*</h1>
		  {% block arrivals %}
		  {% endblock %}
		  {% block stopreport_middle %}
		  {% endblock %}
		</div>


        <div class="col-md-4">
		  {% block hourly_frequency %}
		  {% endblock %}
		</div>

	  </div>
	</div>
  </div>
  <div class="bg-dark text-white">
	<div class="container">
	  <div class="row">
		<div class="col-md-12 mt-3">
          <p class="text-center text-white">Data released under <a href="https://cdla.io/sharing-1-0/">Community Data License Agreement – Sharing, Version 1.0</a>, but may be subject to restrictions based on <a href="http://mybusnow.njtransit.com/bustime/home.jsp">origin</a>.</p>
		</div>
	  </div>
	</div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>