{% extends 'stop-base.html' %}

{% block arrivals %}
          <table class="table table-sm">
            <thead>
              <tr>
                <th>time</th>
                <th>bus #</th>
                <th>interval</th>
              </tr>
            </thead>
            <tbody>
            {% for (index,row) in stopreport.arrivals_list_final_df.iterrows() %}
                {% if (row.delta > stopreport.bigbang) and (row.delta <= stopreport.bunching_interval) %}
                    <tr class='table-danger'>
                        <td>{{row.timestamp|strftime_period(period)}}</td>
                        <td>{{row.v}}</td>
                        <td>{{row.delta|strftime_timedelta}}</td>
                    </tr>
                {% else %}
                    <tr class='table-success'>
                        <td>{{row.timestamp|strftime_period(period)}}</td>
                        <td>{{row.v}}</td>
                        <td>{{row.delta|strftime_timedelta}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
          </table>
{% endblock %}


{% block predictions %}

          <table class="table table-sm">
            <thead>
              <tr>
                <th>route</th>
                <th>destination</th>
                <th>bus #</th>
                <th>eta</th>
              </tr>
            </thead>
            <tbody>

            {% for row in predictions %}
                {% if row.pt == 'APPROACHING' %}
                    <tr class='table-danger'>
                        <td>{{row.rd}}</td>
                        <td>{{row.fd}}</td>
                        <td>{{row.v}}</td>
                        <td>{{row.pt}}</td>
                    </tr>
                {% else %}
                    <tr class='table-secondary'>
                        <td>{{row.rd}}</td>
                        <td>{{row.fd}}</td>
                        <td>{{row.v}}</td>
                        <td>{{row.pt}} mins</td>
                    </tr>
                {% endif %}
            {% endfor %}

            </tbody>
          </table>


{% endblock %}


{% block stopreport_middle %}

         <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Good Service</h4>
              <p class="">Good service is when buses are spaced apart, reducing wait times and keeping more closely to posted schedules.</p>
          </div>
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Bunching</h4>
              <p class="">Bunching occurs when a bus arrives within 3 minutes of the previous arrival. Bunching indicates poor service, leading to empty buses, and more irregular and unreliable service. For a simple explanation of bunching, <a href="https://en.wikipedia.org/wiki/Bus_bunching">click here</a>. For an extremely detailed technical explanation, <a href="https://t.co/wf8OaVtZYU?amp=1">click here</a>.</p>
          </div>
          <p class="">*We do our best to keep a complete list of arrivals but there may be gaps or errors in these records. This is provided for informational purposes only.</p>

{% endblock %}


{% block hourly_frequency %}
          <table class="table table-sm">
            <thead>
              <tr>
                <th>hour</th>
                <th>bus every</th>
                <th>eta</th>
              </tr>
            </thead>
            <tbody>

            {% for row in stopreport.hourly_frequency %}
                <tr class='table-danger'>
                    <td>{{row.timestamp}}</td>
                    <td>{{row.delta}} mins</td>
                </tr>
            {% endfor %}

            </tbody>
          </table>
{% endblock %}
